.results-container {
    display: flex;
    flex-direction: column;
}

.result {
    display: flex;
    flex-direction: row;
    --height: 50px;
    height: var(--height);
    max-width: 550px;
    width: 55vw;
    padding: 10px;
    margin-top: 8px;
    text-align: center;
    font-size: 0.9em;
    line-height: var(--height); 
    vertical-align: middle;
    font-size: 1.4em;
    color: white;
    background:#16c5d8;
    border-radius: 25px;
}

.littleCountry {
    align-self: flex-start;
    margin: 0 20px;
}

.littleCountry path {
    fill: white !important;
}

.skipped {
    background-color: coral;
}

.correct {
    background-color: palegreen;
}

@keyframes elastic {
    from,
    to {
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translate3d(10px, 0, 0);
    }
  }
  

.hundred {
    font-size: 5em;
    animation: elastic 4s infinite;
    text-shadow: #333333 2px;
    margin: 0;
}

.score > h1 {
    text-decoration: underline;
}

@media screen and (max-width: 750px) {
    
    .result {
        font-size: 0.5em;
    }
}