/* #16c5d8 */

.app {
    --button-color:#76dbd1 ;
    --margin-main: 15px;
}

body {
    margin: 0 0;
    font-family: Futura, Segoe UI, sans-serif;
}

.app {
    font-family: Futura, Segoe UI, sans-serif;
    margin: var(--margin-main);
}

form {
	display: block;
}

.toprow {
    display: flex;
    justify-content: space-between;    
}

.drawbox {
    background: #fff;
    display: flex;
	height: 70vh;
	border: 2px solid var(--button-color);
    border-radius: 25px;
	margin: 2vh 0;
	padding: 20px;
}

.drawbox > * {
	margin: auto;
}

.message {
  position: absolute;
  top: 15vh;
  left: 67vw;
  background-color: lightyellow;
  border: 4px solid peachpuff;
  border-radius: 25px;
  max-width: 500px;
  padding: 20px;
  transform: rotate(-10deg);
  box-shadow: 7px 7px 30px 0px rgba(0,0,0,0.41);
  transition: ease 1s;
}

.text-input {
    width: 30vw;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
    -webkit-appearance: textfield;
    display: inline-block;
    padding: 15px 20px 15px 20px;
    border-style: solid none solid solid;
    border-width: 2px;
    border-color: var(--button-color) transparent var(--button-color) var(--button-color);
    border-radius: 25px 0px 0px 25px;
    box-shadow: inset 0 0 0 0 #fff;    
}

.text-input:focus {
	outline: 0;
    border-color: #005baa;	
}

#back-button {
    margin-left: -27px;
}

#back-button:hover {
    margin-left: calc(-1*var(--margin-main));
}

.button {
    display: inline-block;
    padding: 14px 40px 12px;
    border: 2px solid #76dbd1;
    background-color: var(--button-color);
    transition: background-color 180ms ease, color 180ms ease, border-color 180ms ease;
    font-family: sans-serif;
    color: #fff;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    outline: 0;
    transition: ease 0.2s;
    -webkit-tap-highlight-color: #005baa;
}


.button-right {
    background-color: mediumturquoise;
    border-right: 2px solid mediumturquoise;
    border-radius: 0 100px 100px 0;
    padding-left: 20px;
}

.button-middle {
	background-color: mediumpurple;
}

.button:hover {
    border: 2px solid #005baa;
    background-color: #fff;
    color: #005baa;
}

.button:active {
    outline: 0;
    border-color: #005baa;
    background-color: #005baa;
    color: #fff;
}

.button[disabled] {
	background-color: lightsteelblue;
    color: aliceblue;
    border: 2px solid #005baa;
	cursor: not-allowed;	
}

.button[disabled]:hover, .button[disabled]:active {
	background-color: lightsteelblue;
	cursor: not-allowed;
    color: aliceblue;
}

@media screen and (max-width: 750px) {
    .message {
        position: absolute;
        transform: rotate(-5deg);
        max-width: 200px;
        top: 5vh;
        left: 35vw;
    }

    .drawbox {
        min-height: 50vh;
        height: 100%;
    }

    .message > h2 {
        font-size: 0.9em ;
    }

    #start-button {
        width: 100px;
    }

    .app {
        margin: 0 10px;
    }

    #back-button:hover, #back-button:active {
        margin-left: -4vw;
    }

    .text-input {
        width: 80vw;
        border: 2px solid var(--button-color);
        border-radius: 25px;
    }
    
    form > .button {
        width: 90vw;
        border: 2px solid var(--button-color);
        padding:10px;
        margin-top: 2px;
        border-radius: 10px;
    }

    form > * {
        border: 2px solid #76dbd1;
        border-radius: 10px;
    }
    
    .button[active]:hover {
        border: 2px solid white;
        margin-top: 2px;
    }

    path, line, ellipse {
        stroke-width: 2;
    }
}

/* SVG */
path, line, ellipse {
  fill: none;
  stroke: #000;
  vector-effect: non-scaling-stroke;
  stroke-width: 3;
}